$primary: #42adf0; 
$secondary: #444444;
$success: #5cb85c;
$font-size-base: 0.90rem;
$font-family-base: 'Roboto Mono',monospace;
$font-family-monospace: 'Roboto Mono',monospace;
@import 'bootstrap/scss/bootstrap';